@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './animations.css';

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 0;
}

.dark ::-webkit-scrollbar-thumb {
  background: #fafafa;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
